* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.App {
  height: 100%;
}


#preview, #editor {
  background-color: white;
  color: black;
  border: 2px solid black;
  position: relative;
  display: inline-block;
  overflow: scroll;
  border-top: none;
  min-width: 500px;
  min-height: 250px;
  max-width: 500px;
  max-height: 450px;
  height: 250px;
}

#editor.max, #preview.max {
  height: 450px !important;
}

textarea {
  border: none;
  outline: none;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  height: 30px;
  padding: 20px;
  background-color: #333;
  margin-bottom: 50px;

}

.title, .editor-title, .preview-title {
  margin-right: auto;
}



.preview-header, .editor-header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  height: 15px;
  padding: 20px;
  background-color: #333;
  border: 2px solid black;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}